.result_item {
  padding: 20px;
  transition: all 0.1s;
  /*border: 2px solid green;*/
}

.result_item:hover {
  background: rgba(231, 231, 231, 0.3);
}

.result_item:hover .actions {
  opacity: 1;
}

.actions {
  opacity: 0;
}

.media_wiki_ref {
  width: 100%;
  padding: 5px;
  font-family: monospace;
  border: none;
}

.media_wiki_ref.break {
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
}
